.DS_Store
**/auto/
tags
*~
\#*
.#*
*.blg
*.bbl
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.lof
*.lol
*.lot
*.out
*.toc
*.xml
*.numbers
ClassicReport.pdf
ClassicReport-blx.bib
ClassicThesis.pdf
ClassicThesis-blx.bib
web/**
